@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-bg: rgb(31 41 55 / 1);
  --accent-color: orangered;
  --text-on-accent: rgb(31 41 55 / 1);
  --primary-text: rgb(248 250 252);
  --secondary-text: rgb(203 213 225);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Timeline Container */
.timeline {
  padding: 20px;
  margin-block: -70px 0px;
  /* padding-block: 100px 0; */
}

/* .timeline-bck {
  background: var(--background-color);
  font-family: var(--font);
  display: flex;
  justify-content: center;
} */
/* Card container */

.card {
  /* Set the desired width for your card */
  position: relative;
  /* padding: 2px; */
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: double var(--accent-color);
}

/* .card:first-child::after {
  content: "YOUR ROADMAP";
  color: var(--accent-color);
  position: absolute;
  top: -52.5px;
  right: 7%;
  border-bottom: 5px solid var(--accent-color);
  font-size: 2rem;
  font-weight: 600;
} */

.card:first-child::before {
  border-top: dotted var(--accent-color);
  width: 50%;
}

.card:last-child::before {
  border-bottom: transparent;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.8px;
  bottom: -4.8px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0px;
  bottom: 0px;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* exceptions */
.card:nth-child(3)::before {
  bottom: -5px;
}
.card:nth-child(5)::before {
  bottom: -5px;
}
.card:nth-child(8)::before {
  bottom: -1px;
}

/* Removing the border if it is the first card */

/* .card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
} */

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: dotted var(--accent-color);
  border-bottom-left-radius: 50px;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: dotted var(--accent-color);
  border-bottom-right-radius: 50px;
}

/* Information about the timeline */
.info {
  /* height: 130vh; */
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  background: rgb(55 65 81 / 0.4);
  color: white;
  border-radius: 1.7rem;
  padding: 1.5rem;
}

/* Title of the card */
.title {
  color: var(--primary-text);
  position: relative;
  font-size: 1.875rem;
  font-weight: 500;
}

.info > p {
  text-align: justify;
  color: var(--secondary-text);
  /* border: 1px solid slategray; */
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 7px 10px;
  margin: 7px -5px;
  margin-bottom: 20px;
  /* border-radius: 10px; */
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  top: 25%;
  width: 20px;
  height: 20px;
  background: rgb(31 41 55 / 1);
  margin-inline-start: -15px;
  border-radius: 999px;
  border: 3px solid var(--accent-color);
}

/* text right if the card is even  */
/* .card:nth-child(even) > .info > .title {
  text-align: right;
} */

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -46px;
}

/* setting dot to the right if the card is even */
.card:nth-child(even) > .info > .title::before {
  right: -61px;
}

.map_info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.map-written {
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  margin-block: 10px;
  cursor: pointer !important;
}

/* .map_written_b {
  font-family: "Noto Sans Bengali", sans-serif;
} */

.button_container {
  position: relative;
  margin-inline: 5px;
}

.mark {
  position: relative;
}

.card:nth-child(odd) > .info > .button_container > .mark-right {
  color: rgb(74 222 128 / 0.9);
  /* background-color: rgb(7, 59, 28);
  border: 1px solid rgb(74 222 128 / 0.9); */
  /* border-radius: 50%; */
  padding: 5px;
}

.card:nth-child(odd) > .info > .button_container > .mark-wrong {
  color: rgb(248 113 113 / 1);
  /* background-color: rgb(69 10 10 / 1);
  border: 1px solid rgb(248 113 113 / 1); */
  /* border-radius: 50%; */
  padding: 5px;
}

.card:nth-child(even) > .info > .button_container > .mark-right {
  color: rgb(74 222 128 / 0.9);
  /* background-color: rgb(7, 59, 28);
  border: 1px solid rgb(74 222 128 / 0.9); */
  /* border-radius: 50%; */
  padding: 5px;
}

.card:nth-child(even) > .info > .button_container > .mark-wrong {
  color: rgb(248 113 113 / 1);
  /* background-color: rgb(69 10 10 / 1);
  border: 1px solid rgb(248 113 113 / 1); */
  /* border-radius: 50%; */
  padding: 5px;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  padding-bottom: 10px;
}

.circular-button {
  /* background-color: rgb(79 70 229 / 1); */
  display: inline;
  position: relative;
  /* scale: 1.2; */
  /* margin-inline: 5px; */
  filter: drop-shadow(0 0 1px black);
  /* border: 3px solid rgba(255 255 255 / 0.1); */
  cursor: pointer;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
}

.unbadge {
  background-color: rgba(255, 0, 0, 0.1);
  color: var(--secondary-text);
  opacity: 0.5;
  font-weight: 300;
  font-size: 14px;
  padding: 2px 7px;
  /* border: 1px solid rgba(112, 128, 144, 0.2); */
}

.badge {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--secondary-text);
  font-weight: 300;
  font-size: 14px;
  padding: 2px 7px;
  border: 1px solid rgba(112, 128, 144, 0.2);
  cursor: pointer;
  /* border-radius: 6px; */
}

.fare_table {
  width: 100%;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.tableHead {
  border-bottom-width: 1px;
  border-color: rgb(71 85 105 / 1);
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text);
  text-align: left;
  padding-block: 0.5rem;
}

.tableBody {
  text-align: left;
  border-color: rgb(51 65 85 / 1);
  color: rgb(148 163 184 / 1);
  padding-block: 0.1rem;
}

.weatherLg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: inherit;
}
.weatehrSm {
  display: flex;
  flex-direction: column;
}
.tempLg {
  font-family: "Inter", sans-serif !important;
  font-size: 2.5rem /* 60px */;
  line-height: 1;
  font-weight: 700;
}
.locationSm {
  font-weight: 600;
  color: rgb(107 114 128 / 1);
}
.weatherImg {
  backdrop-filter: drop-shadow(0 0 50px black);
}
