/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); */

:root {
  --primary-bg: rgb(31 41 55 / 1);
  --accent-color: orangered;
  --text-on-accent: rgb(31 41 55 / 1);
  --primary-text: rgb(248 250 252);
  --secondary-text: rgb(203 213 225);
}

* {
  transition: all 0.3s ease !important;
}

.form-container form {
  position: relative;
  width: calc(100%);
  margin-top: -25px;
  /* margin-inline: 2px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: inherit;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: var(--primary-bg);
  box-shadow: 0 -50px 70px rgb(0 0 0 / 0.25);
  /* background-color: #303245; */
  /*background-color: #15172b; temporarily changed for testing purpose bara
   font-family: "Josefin Sans", sans-serif; */
}

.expandIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255 255 255 / 0.9);
  margin-block: 7px;
}

.expandIconRot {
  transform: rotateX(180deg);
}

.form-layout-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 100%;
}

.ipStartLoc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255 255 255 / 0.05);
  outline: 0;
  height: 3rem;
  padding-block: 0;
  width: calc(80vw - 3.5rem);
  padding-inline: 10px;
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  border-block: 3px solid rgba(255, 255, 255, 0.05);
  border-left: 3px solid rgba(255, 255, 255, 0.05);
  border-right: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  box-shadow: 0 0 50px rgb(0 0 0 / 0.3);
}

.btnStartLoc {
  overflow: visible;
  position: relative;
  float: right;
  border: 3px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  cursor: pointer;
  height: 3rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-on-accent);
  background-color: var(--accent-color);
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* font: 13px/40px "lucida sans", "trebuchet MS", "Tahoma"; */
  /* background: rgb(0, 112, 225); */
  /* margin-top: -11.3%;
  margin-right: 1%; */
  /* right: 7px;
  top: 33px; */
}

.form-layout-2 {
  position: relative;
  margin-block: 30px 0;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.labelPandal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: 1px solid transparent;
  font-weight: 600;
  /* color: #ffa800; */
  color: var(--accent-color);
  cursor: pointer;
}
.topactive {
  opacity: 0.5;
}
.pandal-active {
  position: absolute;
  left: calc(50% - 7rem);
  height: 1.8rem;
  width: 9rem;
  /* background-color: #eeeeeebd; */
  border-bottom: 2px solid rgba(255 255 255 / 0.8);
}

.range-active {
  position: absolute;
  left: calc(50% + 3.95rem);
  height: 1.8rem;
  width: 3rem;
  /* background-color: #eeeeee1a; */
  border-bottom: 2px solid rgba(255 255 255 / 0.8);
}

.form-layout-2 > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.divPandal {
  /* background-color: #303245; */
  background-color: rgba(255 255 255 / 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 60px;
  padding: 1.2rem;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  color: #eee;
  font-size: 20px;
  cursor: default;
  box-shadow: 0 0 30px rgb(0 0 0 / 0.4);
}

.divPandal p {
  font-size: 12px;
  margin-left: 2px;
}

#minus,
#plus {
  /* background-color: #303245; */
  background-color: rgba(255 255 255 / 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 60px;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  box-shadow: 0 0 30px rgb(0 0 0 / 0.4);
}

/* .form-layout-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#ipCheck {
  accent-color: var(--accent-color) !important;
  background-color: oranngered;
  scale: 1.1;
  width: fit-content;
  border-radius: 5px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labelCheck {
  position: relative;
  font-size: 14px;
  color: #eee;
} */

.form-layout-4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sbm-btn {
  position: relative;
  z-index: 2;
  margin-block: 30px;
  /* background-color: #405cf5; */
  /* background-color: rgb(79 70 229 / var(--tw-bg-opacity)); */
  /* background: rgb(0, 112, 225); */
  background-color: var(--accent-color);
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  box-shadow: 0 0 50px rgb(0 0 0 / 0.3);
  /* box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0; */
  color: var(--text-on-accent);
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 0.5px;
  font-family: inherit;
  /* font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif; */
  font-size: 16px;
  width: 9rem;
  height: 3rem;
  outline: none;
  position: relative;
  text-align: center;
  transition: all 0.2s, box-shadow 0.08s ease-in;
}

.sbm-btn > svg {
  margin: auto;
}

.sbm-btn:disabled {
  cursor: default;
}

/* .sbm-btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
} */

.shareIco {
  position: relative;
  z-index: 2;
  height: 3rem;
  width: 6.5rem;
  color: white;
  cursor: cursor;
  background-color: rgb(255 255 255 / 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 2.5px;
  border: 3px solid rgb(255 255 255 / 0.05);
}

.shareIco:disabled {
  color: gray;
  cursor: default;
}

.shareIco > span {
  margin-inline: 3px;
  margin-bottom: -3px;
}
