@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+Bengali&display=swap");

:root {
  --primary-bg: rgb(21, 28, 45);
  --accent-color: orangered;
  --text-on-accent: rgb(21, 28, 45);
  --primary-text: rgb(248 250 252);
  --secondary-text: rgb(203 213 225);
  --tertiary-text: rgb(148 163 184);
}

* {
  box-sizing: border-box;
  /* transition: all 0.3s ease !important; */
  font-family: "Fira Code", monospace;
  font-family: "Inter", sans-serif;
  /* background-color: rgb(0 128 0 / 0.1); */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--primary-bg);
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body::-webkit-scrollbar {
  display: none;
}

/* FOOTER */

.footer {
  font-size: 12px;
  font-weight: 300;
  padding-top: 20px;
  margin-inline: 40px;
  opacity: 0.8;
  color: var(--secondary-text);
  text-align: center;
}

.topBorder {
  border-top: 1px solid rgb(148 163 184 / 0.7);
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  color: var(--secondary-text);
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}

.footer .nameD {
  /* border: 1px solid var(--tertiary-text); */
  border-radius: 3px;
  /* padding-inline: 5px; */
}

.footer .contactD {
  text-decoration: underline;
}

a:hover {
  color: white !important;
}

/* TUTORIAL */

.tutorial {
  position: absolute;
  z-index: 3;
  background-image: url(/bgmap.avif);
  box-shadow: inset 0 0 0 1000px rgba(0 0 0 / 0.1);
  background-size: cover;
  width: 100vw;
  /* height: 100%; */
  /* height: calc(100vh + 215px); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.tPanel {
  width: 100vw;
  height: 100%;
  /* margin-block: 5vh; */
  /* z-index: 5; */
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: start;
  overflow-y: hidden;
  background-color: var(--primary-bg);
  backdrop-filter: blur(50px);
  /* box-shadow: 0 30px 50px rgb(0 0 0 / 0.5); */
  /* border: 2px solid rgba(0 0 0 / 0.2); */
  padding: 30px;
  /* border-radius: 30px; */
}

.tPanel::-webkit-scrollbar {
  display: none;
}

.tPanel > .tTop {
  color: var(--primary-text);
  position: relative;
  width: 100%;
  font-size: 1.875rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: start;
  /* gap: 100px; */
  /* margin-left: -30px; */
}

.tPanel > .tTop > span {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 7px;
}

.tPanel > .tTop h6 {
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary-text);
  margin-block: 10px;
}

.tPanel > .tTop > span > img {
  position: absolute;
  right: 0;
  top: 0;
  /* margin-inline: 5px; */
  height: 50px;
  background-color: rgb(255 255 255 / 0.3);
  border: 1px solid white;
  border-radius: 50%;
}

.tPanel > .tTop > span > div {
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
}

.tPanel > .tTop > span > div > p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 7px;
  /* width: 100%; */
  text-align: center;
  padding-inline: 6px;
  /* border: 1px dashed var(--tertiary-text); */
  border-radius: 7px;
  color: var(--primary-text);
}

/* .tutorial svg {
  position: absolute;
  top: 0px;
  right: -7px;
  scale: 1.3;
  fill: var(--accent-color);
  margin-inline: 10px;
  margin-bottom: 4px;
} */

.proceedBtn {
  width: 99%;
  font-size: 18px;
  color: var(--primary-text);
  padding: 10px 20px;
  opacity: 0.8;
  border: 2px dashed var(--accent-color);
  border-radius: 7px;
}

.proceedBtn:first-child {
  margin-bottom: 20px;
}

.proceedBtn:last-child {
  margin-top: 20px;
}

.tPanel > button > svg {
  margin: auto;
  padding-bottom: 0;
}

.tSteps {
  /* margin-block: 20px; */
  /* height: 100%; */
  width: 100%;
  overflow-y: scroll;
  color: var(--tertiary-text);
  /* background-color: rgb(255 255 255 / 0.1); */
}

.tSteps::-webkit-scrollbar {
  display: none;
}

.tSteps span {
  display: flex;
  align-items: start;
  justify-content: left;
  gap: 10px;
  margin: 5px 10px;
}

.tSteps h6 {
  font-family: inherit;
  color: var(--accent-color);
  font-weight: 500;
}

.tSteps p {
  font-family: inherit;
  color: var(--secondary-text);
}

.tPanel video {
  width: calc(100% - 25px);
  height: 50vh;
  object-fit: contain;
  background-color: black;
  margin-bottom: 20px;
  margin-top: 10px;
  /* border-block: 1px solid rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 20px rgb(255 255 255 / 0.05);
  /* box-shadow: inset 0 0 10px rgb(0 0 0 / 0.5); */
  border: 2px solid var(--tertiary-text);
  /* border-inline: 7px solid white;
  border-block: 10px solid white; */
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* .tPanel video source {
  box-shadow: inset 0 0 0 -3px var(--primary-bg) !important;
} */

.tPanel > video > div {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  background: #000;
}

.bgimg {
  height: 100vh;
  position: absolute;
  z-index: 3;
  opacity: 0.2;
  object-fit: cover;
  filter: blur(10px);
}
