@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+Bengali&display=swap");

:root {
  --primary-bg: rgb(31 41 55);
  --accent-color: orangered;
  --text-on-accent: rgb(31 41 55);
  --primary-text: rgb(248 250 252);
  --secondary-text: rgb(203 213 225);
  --tertiary-text: rgb(148 163 184 / 1);
}

* {
  box-sizing: border-box;
  /* transition: all 0.3s ease !important; */
  font-family: "Fira Code", monospace;
  font-family: "Inter", sans-serif;
  /* background-color: rgb(0 128 0 / 0.1); */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--primary-bg);
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body::-webkit-scrollbar {
  display: none;
}

/* FOOTER */

.footer {
  font-size: 12px;
  font-weight: 300;
  padding-top: 20px;
  margin-inline: 40px;
  opacity: 0.8;
  color: var(--secondary-text);
  text-align: center;
}

.topBorder {
  border-top: 1px solid rgb(148 163 184 / 0.7);
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  color: var(--secondary-text);
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}

.footer .nameD {
  /* border: 1px solid var(--tertiary-text); */
  border-radius: 3px;
  /* padding-inline: 5px; */
}

.footer .contactD {
  text-decoration: underline;
}

a:hover {
  color: white !important;
}
