.autocomplete {
  background: transparent;
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.autocomplete > div {
  position: relative;
}

/* .ipPadding {
    padding-left: 3rem !important;
  } */

.autocomplete > div > input {
  background: rgb(255 255 255 / 0.8);
  position: relative;
  /* background: rgb(42, 52, 65);
    color: white; */
  backdrop-filter: blur(5px);
  width: 80vw;
  height: 3rem;
  padding-block: 17px;
  padding-left: 20px;
  box-shadow: 0 0 30px rgb(0 0 0 / 0.4);
  /* border: 1px solid rgba(42, 52, 65, 0.8); */
  border-radius: 10px;
  outline: none;
}

/* .autocomplete > div > .shareIco {
    position: absolute;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
    z-index: 2;
    color: rgb(0 0 0 / 0.4);
    cursor: pointer;
  } */

/* .autocomplete > div > .clearIco:hover,
  .autocomplete > div > .clearIco:focus, */
.autocomplete > div > .clearIco:hover,
.autocomplete > div > .clearIco:focus {
  background-color: rgb(0 0 0 / 0.1);
}
.autocomplete > div > .icoActive {
  display: none;
  /* position: absolute;
    height: 3rem;
    width: 3rem;
    right: 0rem;
    display: grid;
    place-content: center;
    z-index: 2;
    color: rgb(0 0 0 / 0);
    transition: none; */
}

.autocomplete > div > .clearIco {
  position: absolute;
  height: 3rem;
  width: 3rem;
  right: 0rem;
  display: grid;
  place-content: center;
  z-index: 2;
  color: rgb(0 0 0 / 0.4);
  cursor: pointer;
  transition: none;
}

.autocomplete > input::placeholder {
  color: rgb(0 0 0 / 0.4);
}

.suggestions {
  margin-top: 10px;
  color: white;
  background: var(--primary-bg);
  backdrop-filter: blur(50px);
  width: 80vw;
  max-height: 60vh;
  box-shadow: 0 30px 50px rgb(0 0 0 / 0.5);
  border: 2px solid rgba(0 0 0 / 0.2);
  border-radius: 20px;
  padding: 5px;
}

.suggestions > li {
  padding: 0 17px;
  cursor: pointer;
  border-bottom: 1px solid rgb(255 255 255 / 0.07);
  padding-block: 5px;
}

.suggestions > li:first-child {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.suggestions > li:last-child {
  /* padding-bottom: 7px; */
  border-bottom: none;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.suggestions > li:hover {
  background: rgb(255 255 255 / 0.1);
}

/* #search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .autocomplete-list {
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .autocomplete-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-list li:hover {
    background-color: #f1f1f1;
  } */
